<div class="body">
  <nav>
    <div class="topnav" id="myTopnav">
      <a routerLink="" routerLinkActive="activebutton" [ngClass]="todayMenuClass"
        (click)="menuClick('todayMenuClass')">Today</a>
      <a href="#hourly">Hourly</a>
      <a routerLink="seven-days" routerLinkActive="activebutton" [ngClass]="sevendaysMenuClass"
        (click)="menuClick('sevendaysMenuClass')">7 Days</a>
      <a href="#weekend">Weekend</a>
      <a href="#monthly">Monthly</a>
      <a href="#radar">Radar</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      <div class="weather-city-search">
        <!-- <form autocomplete="off">
          <div class="autocomplete" style="width:200px;">
            <input id="myInput" type="text" name="myCountry" placeholder="Search city here...">
          </div>
        </form> -->
        <form class="autocomplete-form">
          <mat-form-field class="autocomplete-field">
            <input type="text" placeholder="Search city here..." aria-label="Number" matInput [formControl]="myControl"
              [matAutocomplete]="auto" class="autocomplete-input">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<div style="display: none;">
  <!-- This HTML represents the initial state for the tutorial. It is not intended to appear in the app. -->
  <app-today></app-today>
  <app-seven-days></app-seven-days>

  <!-- This HTML snippet is for when the user first adds the routerlink navigation. -->
  <nav>
    <a class="button" routerLink="/">Today</a> |
    <a class="button" routerLink="/seven-days">7 Days</a>
  </nav>


</div>